### Backend ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
application.properties

### Frontend ###
gimnasio-frontend/node_modules/
gimnasio-frontend/build/
gimnasio-frontend/.env*
gimnasio-frontend/.pnp
gimnasio-frontend/.pnp.js
gimnasio-frontend/coverage/
gimnasio-frontend/npm-debug.log*
gimnasio-frontend/yarn-debug.log*
gimnasio-frontend/yarn-error.log*

### IDEs and Editors ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### OS ###
.DS_Store